* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #FFFFFF;
    background: #23252C;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    margin: 32px;
}

.image--img {
    width: 317px;
    height: 317px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* Header */

header {
    text-align: center;
}

header > h1 {
    font-size: 25px;
}

header > h2 {
    font-size: 13px;
    font-weight: 400;
    color: #97ced8;
    margin-bottom: 8px;
}

.header--btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.header--btn {
    width: 115px;
    height: 34px;
    font-size: 14px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    color: #374151;
    background: #FFFFFF;
    cursor: pointer;
}

.header--btn > i {
    margin-right: 8px;
}

.header--btn:hover {
    color: #111111;
    background: #F5F5F5;
}

.linkedin-btn {
    border: none;
    color: #FFFFFF;
    background: #5093E2;
}

.linkedin-btn:hover {
    color: #FFFFFF;
    background: #4688d3;
}

/* Main */

main {
    background: #1A1B21;
    width: 317px;
    padding: 20px 35px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    margin-top: 33px;
    margin-bottom: 24px;
}

.content > h2 {
    margin-top: 27px;
    margin-bottom: 5px;
}

/* Footer */
footer {
    color: #918E9B;
    background: #161619;
    width: 317px;
    padding: 20px;
    display: flex;
    gap: 24px;
    justify-content: center;
    font-size: 25px;
}

footer > i {
    cursor: pointer;
}